
.calccontainer{
	max-width: 500px;
  background: #f4f7f8;
  margin: auto;
  padding: 10px 20px 5px;
  border-radius: 0px 0px 8px 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title h1 {
  max-width: 500px;
  background: #1abc9c;
  margin: 10px auto 0px;
	color: #fff;
	padding: 20px;
	text-align: center;
  border-radius: 8px 8px 0px 0px;
}


.calccontainer fieldset {
	border: none
}

.calccontainer legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.calccontainer label {
  display: inline-block;
	width: 50%;
  font-weight: normal;
	text-align: right;
  margin-bottom: 8px;
	padding: 0 2px;
}

.calccontainer input,

.calccontainer textarea {
	display: inline;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 45%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#5a6770;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 10px;
}

.calccontainer label[for="hashrate"]  {
  font-weight: bold;
}

.calccontainer input[type="radio"]{
	display: inline;
	width: 10px;
	margin-left: 5%;
}

.calccontainer .radio {
	display: inline;
	position: relative;
	margin-left: 0.2cm;
}

.calccontainer input:focus,
.calccontainer textarea:focus {
	background: #d2d9dd;
}

.calccontainer .mini_title {
	color: #222;
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	margin-right: 4px;
	margin-bottom: 0px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
.calccontainer hr {
	margin-top: -10px;
  background-color: #1abc9c;
  color: #1abc9c;
	height: 2px;
	border: none;
}


.calccontainer #submit {
	position: relative;
	display: block;
	padding: 10px 5px; 
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-style: normal;
	width: 40%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
}

.calccontainer #submit:hover {
	background: #109177;
}

.calccontainer input[type="checkbox"] {
	width: 20px;
}
.container ul {
  width: 100%;
}

.calccontainer #select_plots {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.calccontainer li {
	display: inline-block;
	width: 49%;
}

.calccontainer .plots {
	display: inline;
	margin-left: 3px;
}



