<div>
  <div ng-hide="hasBeenSelected">
    <h3>Specify an Amount of Data Points for the Plot</h3>
  </div>
  <div ng-show="hasBeenSelected">
    <a ng-click="toggleMinimised()" href=""><h3>Number of Plot Points: <strong>{{value}}</strong></h3></a>
  </div>
  <div ng-hide="minimised || loading">
    <hr>
    <p><em>The granuality of the plot.</em></p>
    <div class="input-group">
      <input type="number" step="any" class="form-control" placeholder="Plot Points (count)" ng-model="value">
      <span class="btn input-group-addon" ng-click="set(value)">Accept Plot Point Count</span>
    </div>
  </div>
</div>