<div class="container full-width-container">
  <div class="jumbotron">
    <h1>Statistical Forecaster</h1>
  </div>
</div>
<div class="container">
  <a ng-click="logInputs()" role="button">Log inputs obj</a>
  
  <!-- Cryptocurrency -->
  <forecaster-input-list
    component-id="cryptocurrency"
    component-name="Cryptocurrency"
    info-text="Difficulty prediction is only supported for Ethereum. Cost analysis is only available for Ethereum and Bitcoin."
    ng-show="isVisible.cryptocurrency">
  </forecaster-input-list>
  
  <!-- Difficulty Prediction Type -->
  <forecaster-input-list
    component-id="difficultyType"
    component-name="Difficulty Prediction Method"
    info-text="Difficulty prediction looks at the history of network difficulty and attempts to continue the current trend into the future."
    ng-show="isVisible.difficultyType">
  </forecaster-input-list>
  
  <!-- Difficulty Value -->
  <forecaster-input-single-value 
    component-id="difficultyValue"
    component-name="Network Hashrate (TH)"
    info-text="The default value is pulled from the etherchain.org public api. Feel free to replace it with your own."
    ng-show="isVisible.difficultyValue">
  </forecaster-input-single-value>
  
  <!-- Block Time -->
  <forecaster-input-single-value 
    component-id="blockTime"
    component-name="Average Block Time (seconds)"
    info-text="The default value is pulled from the etherchain.org public api. Feel free to replace it with your own."
    ng-show="isVisible.blockTime">
  </forecaster-input-single-value>
  
  <!-- Plot Length -->
  <forecaster-input-single-value 
    component-id="plotDays"
    component-name="Plot Length (days)"
    info-text="The amount of days the graph should run into the future."
    default-value="30"
    ng-show="isVisible.plotDays">
  </forecaster-input-single-value>
  
  <!-- Plot Points -->
  <forecaster-input-single-value 
    component-id="plotLength"
    component-name="Plot Resolution (total number of points)"
    info-text="The granuality of the plot."
    default-value="100"
    ng-show="isVisible.plotLength">
  </forecaster-input-single-value>
    
    
  <hr>
  <div ng-show="isVisible.calculate">
    <a class="btn btn-success" ng-click="calculate()" role="button">Calculate</a>
  </div>
</div>