body {
  background: #FFF;
}

.navbar-default {
  background: #1565C0;
}

.full-width-container {
  width: 100%;
  padding: 0px;
  margin-top: -21px;
}

.jumbotron {
  background: #E3F2FD;
}

.landing-page-info div:not(:first-child) {
  margin-top: 2em;
}

.calculator-inputs {
  margin: 1em;
}

.calculator-inputs form .input-group {
  margin-bottom: 1em;
}

.expand-chevron-active {
  transform: rotate(90deg);

}

.expand-chevron {
  transition-duration: .2s;
}

.forecaster-list-items {
  font-size: 1em;
}
