<div>
  <div ng-hide="state.accepted">
    <h3>{{componentName}}</h3>
  </div>
  <div ng-show="state.accepted">
    <span class="miner-performance-input-title">{{componentName}}: <strong>{{ state.value }} </strong></span><a ng-click="state.minimised = !state.minimised" href="">[edit]</a>
  </div>
  <div ng-hide="state.minimised || state.loading">
    <hr>
    <p><em>{{infoText}}</em></p>
    <div class="input-group">
      <input type="text" maxlength="42" step="any" class="form-control" placeholder="{{componentName}}" ng-model="state.value">
      <span class="btn input-group-addon" ng-click="accept(state.value)">Accept {{componentName}}</span>
    </div>
  </div>
  <div ng-show="state.loading">
    <hr>
    <h4>Loading...</h4>
  </div>
</div>
