<div class="container-fluid">

  <!-- The variables input thing -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default calculator-inputs">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-calculator"></i> Projection Variables</h3>
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{inputs.cryptoTitle}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="(key,value) in cryptoCurrencies">
                    <a ng-click="setCryptoCurrencyCode(key)" href="">{{value.title}}</a>
                  </li>
                </ul>
              </div>
        </div>
        <div class="panel-body">
          <form name="VariablesForm" ng-submit="calculate()" role="form" class='form-horizontal'>
            <!-- Miner Variables -->
            <div>
              <legend><span class="mini_title">Miner Variables</span></legend>
              <div class="input-group">
                <span class="input-group-addon">Miner Hash Rate (MH/s)</span>
                <input type="number" step="any" ng-model="inputs.hashRate" class="form-control" placeholder="Insert your Mining Hash Rate in MH/s"
                required>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Network Hash Rate (GH/s)</span>
                <input type="number" step="any" ng-model="inputs.networkHashRate" class="form-control" placeholder="Loading..." required>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Difficulty ({{inputs.difficultyType}})<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="(key,value) in difficulties">
                    <a ng-click="setDifficultyType(key)" href="">{{value.title}}</a>
                  </li>
                </ul>
                <input type="number" step="any" ng-model="inputs.difficulty" class="form-control" placeholder="Loading..."
                required>
                <label> Difficulty Form From Difficulties Here </label>

                <label> If predictive difficulty, show following inputs. Only quadratic needs to see c. Maybe given them labels? Also if using predictive difficulty, hide the second table (It doesn't make sense). I might just get the filter to leave blank results </label> <br>
                <label> R2:{{inputs.predictionVariables.R2}}</label> <label>{{inputs.predictionVariables.type}} </label>
                <input type="number" step="any" ng-model="inputs.predictionNoPoints" class="form-control" placeholder=0>
                <input type="number" step="any" ng-model="inputs.predictionPastDays" class="form-control" placeholder=0>
                <input type="number" step="any" ng-model="inputs.predictionVariables.a" class="form-control" placeholder=0>
                <input type="number" step="any" ng-model="inputs.predictionVariables.b" class="form-control" placeholder=0>
                <input type="number" step="any" ng-model="inputs.predictionVariables.c" class="form-control" placeholder=0>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Average Block Time (s)</span>
                <input type="number" step="any" ng-model="inputs.blockTime" class="form-control" placeholder="Loading..." required>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Reward Per Block ({{inputs.cryptoCurrencyCode | uppercase}})</span>
                <input type="number" step="any" ng-model="inputs.crypto_Block" class="form-control" placeholder="Loading..." required>
              </div>
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency ({{inputs.currencyCode | uppercase}}) <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="(key, value) in currencies">
                      <a ng-click="setCurrencyCode(key)" href="">{{value.title}}</a>
                    </li>
                  </ul>
                </div>
                <input type="number" step="any" ng-model="inputs.currencyRate" ng-change="updateCurrency()" class="form-control" placeholder="Loading..."
                required>
              </div>
            </div>
            <div>
              <legend ng-click="showCosts = !showCosts"><span class="mini_title"><i class="fa fa-angle-right expand-chevron" ng-class="{'expand-chevron-active': showCosts}"></i> Costs</span></legend>
              <div ng-show="showCosts">
                <div class="input-group">
                  <span class="input-group-addon">Miner Power Consumption (W)</span>
                  <input type="number"step="any" ng-model="inputs.costs.powerConsumption" class="form-control" placeholder="Miner Power Consumption (W)" required>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">Cost per KWh ({{inputs.currencyCode}})</span>
                  <input type="number" step="any" ng-model="inputs.costs.cur_kwh" class="form-control" placeholder="Electricity Costs" required>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">Initial Investment ({{inputs.currencyCode}})</span>
                  <input type="number" step="any" ng-model="inputs.costs.initialInvestment" class="form-control" placeholder="Electricity Costs" required>
                </div>
              </div>
            </div>
            <!-- Miner Performance - Also Not Implemented Yet - Only available for ETH -->
            <div>
              <legend ng-click="showPerformance= !showPerformance"><span class="mini_title"><i class="fa fa-angle-right expand-chevron" ng-class="{'expand-chevron-active': showPerformance}"></i> Miners Performance</span></legend>
              <div ng-show="showPerformance">
                <div class="input-group">
                  <span class="input-group-addon">Miners Address:</span>
                  <input type="string" ng-model="inputs.performance.address" class="form-control" placeholder="Miners ETH address to check performance" required>
                </div>
              </div>
            </div>
            <!-- Plot Options -->
            <div>
              <legend ng-click="showPlotOptions = !showPlotOptions"><span class="mini_title"><i class="fa fa-angle-right expand-chevron" ng-class="{'expand-chevron-active': showPlotOptions}"></i> Plot Options</span></legend>
              <div ng-show="showPlotOptions">
                <div class="input-group">
                  <span class="input-group-addon">Days to run over:</span>
                  <input type="number" ng-model="plotOptions.days" class="form-control" placeholder="Amount of days to graph" required>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">Data Points:</span>
                  <input type="number" ng-model="plotOptions.points" class="form-control" placeholder="Amount of data points to graph" required>
                </div>
              </div>
            </div>
            <hr>
            <button type="submit" class="btn pull-right">Calculate</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Two Tables -->
  <div class="row" ng-class="{hidden: !userHasCalculated}">
    <div class="col-md-6">
      <div class="panel panel-default calculator-inputs">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-table"></i> Projected Returns</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thread>
              <tr>
                <th> Duration </th>
                <th> Expected {{inputs.cryptoCurrencyCode | uppercase}} </th>
                <th> Value ({{inputs.currencyCode | uppercase}}) </th>
              </tr>
            </thread>
            <tr>
              <td> Per Hour </td>
              <td>
                <p id='eth_hour'>{{table.eth_hour | number:2}}</p>
              </td>
              <td>
                <p id='cur_hour'>${{table.cur_hour | number:2}}</p>
              </td>
            </tr>
            <td> Per Day</td>
            <td>
              <p id='eth_day'>{{table.eth_day | number:2}}</p>
            </td>
            <td>
              <p id='cur_day'>${{table.cur_day | number:2}}</p>
            </td>
            </tr>
            <td> Per Week </td>
            <td>
              <p id='eth_week'>{{table.eth_week | number:2}}</p>
            </td>
            <td>
              <p id='cur_week'>${{table.cur_week | number:2}}</p>
            </td>
            </tr>
            <td> Per Month </td>
            <td>
              <p id='eth_month'>{{table.eth_month | number:2}}</p>
            </td>
            <td>
              <p id='cur_month'>${{table.cur_month | number:2}}</p>
            </td>
            </tr>
            <td> Per Year </td>
            <td>
              <p id='eth_year'>{{table.eth_year | number:2}}</p>
            </td>
            <td>
              <p id='cur_year'>${{table.cur_year | number:2}}</p>
            </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default calculator-inputs">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-table"></i> Projected Block Solution Statistics</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <tr>
              <td> Average Time to Solve a Block </td>
              <td>
                <p id='exp_day'>{{table.exp_day | legibleDaysMins}}</p>
              </td>
            </tr>
            <tr>
              <td> Probability to Solve At Least 1 Block in a Day </td>
              <td>
                <p id='prob_day'>{{table.probability_day | number: 2}}%</p>
              </td>
              <tr>
                <td> 95% Confidence Interval </td>
                <td>
                  <p id='eth_week'>{{table.ci.lower | legibleDaysMins}} - {{table.ci.upper | legibleDaysMins}}</p>
                </td>
              </tr>
              <tr>
                <td> Check Miner No Block Has Been Solved (2% Chance) </td>
                <td>
                  <p id='95_days'>{{table.check| legibleDaysMins}}</p>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Graphs -->
  <div class="row" ng-class="{hidden: !userHasCalculated}" ng-repeat="i in plotOptions.plots | plotFilter">
    <div class="col-lg-12">
      <div class="panel panel-default calculator-inputs">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-line-chart"></i> {{i.title }}</h3>
        </div>
        <div class="panel-body">
          <div id={{i.id}}></div>
        </div>
      </div>
    </div>
  </div>
</div>

