<div>
  <div ng-hide="state.accepted">
    <h3>{{componentName}}</h3>
  </div>
  <div ng-show="state.accepted">
    <a ng-click="state.minimised = !state.minimised" href=""><h3>{{componentName}}: <strong>{{state.valueTitle}} {{state.value}}</strong></h3></a>
  </div>
  <div ng-hide="state.minimised || state.loading">
    <hr>
    <p><em>{{infoText}}</em></p>
    <p><em>{{items}}</em></p>
    <!-- This shows if we have items to select from -->
    <div class="input-group" ng-show="state.list.length">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{listTitle}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-repeat="item in state.list">
            <a ng-click="select(item)" href="">{{item.title}}</a>
          </li>
        </ul>
      </div>
      <input type="number" step="any" class="form-control" placeholder="{{componentName}}" ng-model="state.value">
      <span class="btn input-group-addon" ng-click="accept(state.value)">Accept {{componentName}}</span>
    </div>
    <!-- This show if we don't have items to select from -->
    <div class="input-group" ng-hide="state.list.length">
      <input type="number" step="any" class="form-control" placeholder="{{componentName}}" ng-model="state.value">
      <span class="btn input-group-addon" ng-click="accept(state.value)">Accept {{componentName}}</span>
    </div>
  </div>
  <div ng-show="state.loading">
    <hr>
    <h4>Loading...</h4>
  </div>
</div>
