<div>
  <div ng-hide="hasBeenSelected">
    <h3>Select a Difficulty Prediction Method</h3>
  </div>
  <div ng-show="hasBeenSelected">
    <a ng-click="toggleMinimised()" href=""><h3>Difficulty Prediction: <strong>{{selected.title}}</strong></h3></a>
  </div>
  <div ng-hide="minimised">
    <hr>
    <p><em>Difficulty prediction looks at the history of network difficulty and attempts to continue the current trend into the future.</em></p>
    <div class="list-group">
      <button ng-repeat="item in items" type="button" class="list-group-item" ng-click="set(item)" ng-class="{active: isSelected(item)}">{{item.title}}</button>
    </div>
  </div>
</div>